	<!DOCTYPE html>
<html>

<head>
	<title>Adhithyakrishna</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="static/img/favicon.ico" type="image/x-icon" />
	<script type='text/javascript' src='/static/js/jquery.min.js'></script>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script type='text/javascript' src='/static/js/weatherInfo.js'></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5QUXpymXW15M8Rc78Ke0PLCUddaVFvcI"></script>
	<script type='text/javascript' src='/static/js/googleMap.js'></script>
	<style>
		@import url('https://fonts.googleapis.com/css?family=Amaranth|Crete+Round');
	</style>
</head>


<body>
	<div class="content-frame">
		<div class="contentHolder">
			<div clas="loaderImage"></div>
			{{{body}}}
		</div>
	</div>
</body>

</html>